.table thead,
tbody,
tfoot,
tr,
td,
th {
  border: none !important;
  color: rgb(131, 131, 131) !important;
}
.table {
  border-collapse: separate;
}
.table th {
  font-weight: normal;
}
.table_headers th {
  background-color: rgb(238, 238, 238) !important;
  text-align: center;
}
.table_headers th.currentDay {
  background-color: rgb(221, 238, 253) !important;
}
.table {
  color: rgb(141, 141, 141) !important;
}
